!! IOS XR Configuration 6.0.2
!! Last configuration change at Mon Aug 22 08:45:42 2016 by xrvr
!
hostname xrvr-e
clock timezone PST -8
clock summer-time MET recurring last sunday march 02:00 last sunday october 03:00
logging console informational
logging facility local0
logging 172.23.29.120 vrf default severity debugging port default
logging hostnameprefix xrvr-e
telnet vrf default ipv4 server max-servers 100
domain name cisco.com
cdp
ntp
 server 172.23.29.126
!
ipv4 unnumbered mpls traffic-eng Loopback0
interface Loopback0
 description Router ID
 ipv4 address 192.168.100.5 255.255.255.255
!
interface Loopback1
 description BGP reachable
 ipv4 address 192.168.118.1 255.255.255.255
!
interface MgmtEth0/0/CPU0/0
 description Management
 ipv4 address 172.23.29.125 255.255.255.224
!
interface GigabitEthernet0/0/0/0
 description link to xrvr-c
 cdp
 ipv4 address 192.168.97.2 255.255.255.0
!
interface GigabitEthernet0/0/0/1
 description link to xrvr-d
 cdp
 ipv4 address 192.168.98.2 255.255.255.0
!
interface GigabitEthernet0/0/0/2
 shutdown
!
router static
 address-family ipv4 unicast
  0.0.0.0/0 172.23.29.97 description default
  192.168.118.0/23 Null0 description bgp
 !
!
router isis i2ss
 is-type level-2-only
 net 47.0004.004d.00C0.00A8.0084.0005.00
 segment-routing global-block 16000 16099
 address-family ipv4 unicast
  metric-style wide
  mpls traffic-eng level-2-only
  mpls traffic-eng router-id Loopback0
  segment-routing mpls sr-prefer
  segment-routing prefix-sid-map receive
  segment-routing prefix-sid-map advertise-local
 !
 interface Loopback0
  passive
  address-family ipv4 unicast
   metric 1
   prefix-sid index 4
  !
 !
 interface GigabitEthernet0/0/0/0
  point-to-point
  address-family ipv4 unicast
   metric 10
  !
 !
 interface GigabitEthernet0/0/0/1
  point-to-point
  address-family ipv4 unicast
   metric 10
  !
 !
!
router bgp 65504
 bgp router-id 192.168.100.5
 address-family ipv4 unicast
 !
 neighbor 192.168.100.1
  remote-as 65504
  update-source Loopback0
  address-family ipv4 unicast
  !
 !
 neighbor 192.168.100.2
  remote-as 65504
  update-source Loopback0
  address-family ipv4 unicast
  !
 !
!
mpls traffic-eng
 interface GigabitEthernet0/0/0/0
 !
 interface GigabitEthernet0/0/0/1
 !
 interface GigabitEthernet0/0/0/2
 !
 pce
  peer ipv4 172.23.29.120
  !
  segment-routing
  stateful-client
   instantiation
   cisco-extension
   delegation
  !
 !
 auto-tunnel pcc
  tunnel-id min 101 max 200
 !
 reoptimize timers delay installation 0
!
netconf-yang agent
 ssh
!
ssh server v2
ssh server netconf vrf default
ssh timeout 120
end
